# Rewired CTF Environment Configuration
DATABASE_URL="postgresql://neondb_owner:npg_PqJRKdjE9Cl7@ep-fancy-darkness-b32xs1ho-pooler.c-4.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
ADMIN_EMAIL="robotics@snuchennai.edu.in"
ADMIN_PASSWORD="password@123"
JWT_SECRET="rewired_super_secret_jwt_key_2026_snuc_robotics_ctf"
NEXT_PUBLIC_APP_NAME="Rewired"
